.recipe-card {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  width: 80%;
  border: 1px solid #e8f2f1;
  border-radius: 10%;
  box-shadow: 1em 1em #317873;
  -webkit-box-shadow: 7px 7px 12px -4px #317873;
  -moz-box-shadow: 7px 7px 12px -4px #317873;
  box-shadow: 7px 7px 12px -4px #317873;

  img {
    width: 60%;
  }

  ul {
    margin: 0 2em;
  }
}
