.recipe-list {
  width: 100%;
  height: inherit;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  overflow: scroll;

  &.side-list {
    width: 55%;
    height: 80vh;
    padding: 0 2em;
  }
}
