.page-header {
  border: 1px solid #2D1815;
  background-color:#5f9ea0;
  margin-bottom: 2em;

  .trans {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    background-image: url('../../images/wood_grain.JPG');
    color: #e8f2f1;
    opacity: 0.9;

    .title {
      font-size: 2.5em;
      margin: 0.4em 0;
    }
  }
}
