.header {
  border: 1px solid black;
  background-image: url('../../images/wood_grain.JPG');

  .trans {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
  }
}
