.container {
  width: 98vw;
}

.result-wrapper {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  margin-top: 2em;
}

.dimmed.dimmable {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ui.page.active.modals {
  position: absolute;
}
